<!DOCTYPE html>
<html>
    <head>
        <title>Clicker</title>
        <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
    </head>
    <body>
        <h1> You have clicked {{ count }} times (refresh to update)</h1>
        <button>Click me to increase count!</button>
        
        <a href="./"><div>Home</div></a>
        <a href="./clock"><div>Clock</div></a>
        <a href="./facts"><div>Facts</div></a>
        <script>
            // Tells jQuery to begin as soon as the document loads
            $(function(){
                /* Tells jquery to listen for click event on the button element.
                When it hears a click event, it calls the function passed into the click method*/
                $("button").click(function(){
                    //sends a post request to server's "clicker" path
                    $.post('clicker');
                });
            });
        </script>
    </body>
</html>